.messages {
  height: calc(100vh - 290px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 100px;
}

.message-inner {
  background: #fef2cd;
  color: #b96604;
  border-radius: 10px 10px 10px 0;
  display: flex;
  align-items: flex-end;
  gap: 15px;
  padding: 10px 12px;
}

.message.is-mine {
  align-self: flex-end;
}

.message.is-mine .message-inner {
  background: #eac7cb;
  color: #24008b;
  border-radius: 10px 10px 0 10px;
}

.message.is-mine .message-time {
  color: #9975ff;
}

.message.is-mine .message-user {
  color: #24008b;
  font-weight: 500;
  text-align: end;
}

.message-user {
  font-size: 14px;
  text-transform: uppercase;
  color: #b96604;
  font-size: 14px;
  padding: 0 11px;
  margin-bottom: -4px;
  font-weight: 500;
}

.message-time {
  color: #faaa14;
  font-size: 11px;
}
