.messages {
  height: 700px;
  border: 1px solid #ccc;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.message.is-mine {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message {
  background: blue;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
